---
layout:   home
title:    Hesburgh Libraries @ github
---
<div class="row">
  <div class="span8 offset2 page-header">
    <h1>Hesburgh Libraries @ github</h1>
  </div>
</div>

{% for category in site.sorted_categories %}
<div class="category articles row">
  <div class="span8 offset2">
    <h2>{{ category | capitalize }}</h2>
    <ul class="listing">
      {% for post in site.categories[category] limit: 10 %}
      <li itemscope itemtype="http://schema.org/Article">
      <a itemprop="url" href="{{ post.url }}"><span itemprop="name">{{ post.title }}</span></a>
      {% if post.revised %}
      <span class="muted">
        <time datetime="{{ post.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated">{{ post.date | date:"%Y-%m-%d" }}</time>,
        revised on
        <time datetime="{{ post.revised | date:"%Y-%m-%d %H:%M" }}" itemprop="dateRevised">{{ post.revised | date:"%Y-%m-%d" }}</time>
      </span>
      {% else %}
      <time datetime="{{ post.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated" class="muted">{{ post.date | date:"%Y-%m-%d" }}</time>
      {% endif %}
      </li>
      {% endfor %}
    </ul>
    <nav>
      <a href="/{{ category }}">All {{ category | capitalize}}</a>
    </nav>
  </div>
</div>
{% endfor %}
