---
layout:   home
title:    Hesburgh Libraries @ github
---
<div class="row">
  <div class="span8 offset2 page-header">
    <h1>Hesburgh Libraries @ github</h1>
  </div>
</div>

{% for category in site.sorted_categories %}
<div class="category articles row">
  <div class="span8 offset2">
    <h2>{{ category | capitalize }}</h2>
    <ul class="listing">
      {% for post in site.categories[category] limit: 10 %}
      <li itemscope itemtype="http://schema.org/Article">
      <h3 class="title">
        <a itemprop="url" href="{{ post.url }}"><span itemprop="name">{{ post.title }}</span></a>
      </h3>
      <p class="muted">
      {% if post.author %}{% for author in site.authors %}{% if author.id == post.author %}{% if author.url %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <a itemprop="url" href="{{ author.url }}"><span itemprop="name">{{ author.name }}</span></a>
      </span> &mdash;
      {% else %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ author.name }}</span>
      </span> &mdash;
      {% endif %}{% endif %}{% endfor %}{% endif %}{% if post.revised %}
      <time datetime="{{ post.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated">{{ post.date | date:"%B %e, %Y" }}</time>, revised on <time datetime="{{ post.revised | date:"%Y-%m-%d %H:%M" }}" itemprop="dateRevised">{{ post.revised | date:"%B %e, %Y" }}</time>
      {% else %}
      <time datetime="{{ post.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated">{{ post.date | date:"%B %e, %Y" }}</time>
      {% endif %}
      </p>
      </li>
    {% endfor %}
    </ul>
    <nav class="text-right">
      <a href="/{{ category }}">All {{ category | capitalize}}</a>
    </nav>
  </div>
</div>
{% endfor %}
