---
layout:   category
title:    Practices &mdash; Hesburgh Libraries @ github
---
<h1>Practices</h1>

<ul class="articles listing">
  {% for post in site.categories.practices %}
    <li itemscope itemtype="http://schema.org/Article">
      <a itemprop="url" href="{{ post.url }}"><span itemprop="name">{{ post.title }}</span></a>
      {% if post.revised %}
        <span class="subtle">
          <time datetime="{{ post.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated">{{ post.date | date:"%Y-%m-%d" }}</time>,
          revised on
          <time datetime="{{ post.revised | date:"%Y-%m-%d %H:%M" }}" itemprop="dateRevised">{{ post.revised | date:"%Y-%m-%d" }}</time>
        </span>
      {% else %}
        <time datetime="{{ post.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated" class="subtle">{{ post.date | date:"%Y-%m-%d" }}</time>
      {% endif %}
    </li>
  {% endfor %}
</ul>
